<div class="modal fade"
     id="deviceModal"
     tabindex="-1">

<div class="modal-dialog">

<div class="modal-content bg-dark text-white">

<div class="modal-header">

<h5 class="modal-title">
Switch Device
</h5>

<button
type="button"
class="btn-close btn-close-white"
data-bs-dismiss="modal">
</button>

</div>

<div class="modal-body">

<div class="mb-2">

<label>Name</label>

<input
type="text"
id="name"
class="form-control">

</div>

<div class="mb-2">

<label>Brand</label>

<input
type="text"
id="brand"
class="form-control">

</div>

<div class="mb-2">

<label>Model</label>

<input
type="text"
id="model"
class="form-control">

</div>

<div class="mb-2">

<label>IP Address</label>

<input
type="text"
id="ip"
class="form-control">

</div>

<div class="mb-2">

<label>MAC Address</label>

<input
type="text"
id="deviceMAC"
class="form-control"
placeholder="4C:9E:FF:80:CE:E7">

</div>

<div class="mb-2">

    <label>Username</label>

    <input
        type="text"
        id="username"
        class="form-control"
        placeholder="admin">

</div>

<div class="mb-2">

    <label>Password</label>

    <input
        type="password"
        id="password"
        class="form-control"
        placeholder="********">

</div>

<div class="mb-2">

    <label>Serial Number</label>

    <input
        type="text"
        id="serialNumber"
        class="form-control"
        placeholder="SG220-26-XXXXXXXX">

</div>

<div class="mb-2">

    <label>Location</label>

    <input
        type="text"
        id="location"
        class="form-control"
        placeholder="Server Room">

</div>


<div class="mb-2">

<label>Status</label>

<select
id="status"
class="form-select">

<option value="online">
Online
</option>

<option value="offline">
Offline
</option>

</select>

</div>

</div>

<div class="modal-footer">

<button
type="button"
class="btn btn-secondary"
data-bs-dismiss="modal">

Cancel

</button>

<button
type="button"
class="btn btn-success"
id="saveDevice">

Save

</button>

</div>

</div>

</div>

</div>