<button
id="menuBtn"
class="menu-btn">
☰
</button>

<div
class="sidebar"
id="sidebar">

    <div class="logo kusk-sidebar-logo"><img src="/logo-kusk.png" alt="โลโก้โรงเรียน"><span>Network</span></div>

    <div id="userInfo" class="user-info">
    <div class="user-title">
        👤 Logged In
    </div>

    <div id="userEmail" class="user-email">
        Loading...
    </div>
    </div>

    <a href="/home.html">
        🏠 Home
    </a>

    <a href="/pages/switches.html">
        🔀 Switches
    </a>

    <a href="/pages/accesspoint.html">
        📶 Access Point
    </a>

    <a href="/pages/vpn-guide.html">
        ⚙️ คู่มือ VPN
    </a>

    <a href="#" id="logoutBtn">
        🚪 Logout
    </a>

</div>